img {
    height: 130px;
    width: 157.76px;
}

h1 {
    font-size: 22px;
    font-weight: bold;
}

h2 {
    font-size: 12px;
    font-weight: bold;
}

button {
    border: none;
    background-color: lightgrey;
    padding: .5em 1em;
}

.menu-item {
    width: 20em;
}
